html {
    background-image: url(http://www.mondespersistants.com/images/screenshots/Guild_Wars_2-306423022.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    
}

/*header start*/

header img{
    border: solid;
    border-color: #ff00ff;
    border-width: 3px;
    float: left;
    
}

header nav{
    border: solid;
    border-color: #ff00ff;
    border-width: 3px;
    float: right;
    color: #ffffff;
    font-size: 30;
    margin-top: 15px;
   
}

header nav a{
    text-decoration: none;
    color:goldenrod;
    
}

/*header finish*/


#landing {
    border: solid;
    border-color: #ff00ff;
    border-width: 3px;
    background-image: url(http://24.media.tumblr.com/tumblr_m1fq6emLty1qbmqmro10_1280.jpg);
    width: 100%;
    height: 70%;
    color: darkgoldenrod;
    float: left;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-position: center;
    background: contain;
    background-repeat: no-repeat; 
}

#post-landing{
    border: solid;
    border-color: #ff00ff;
    border-width: 3px;
    display: inline-block;
    width: 100%;
    height: 40%;
}

#post-landing img{
    border: solid;
    border-color: #ff00ff;
    border-width: 3px;
    float: left;
    height: 100%;
    width: 25%;
}

#post-landing p{
    border: solid;
    border-color: yellow;
    border-width: 3px;
    float: right;
    height: 75%;
    width: 70%;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
}

.child {
    padding-top: 5%;
}

#four-pillars {
    height: 60%;
}

#piller-head {
    border: solid;
    border-color: limegreen;
    border-width: 3px;
    clear: both;
    height: 9.5%;
    width: 99%;
    text-align: center
        
}

.pillar {
    width: 24.5%;
    height: 90%;
    border: solid;
    border-color: red;
    border-width: 3px;
    display: inline-block;
}


