html {
    font-family: 'jacques francois', serif;
    background-color: black;
}

html, body, main {
    height: 100%
}

/* Phone Responsive */

@media (max-width:768px) {
    
    #hero h1 {
        font-size: 2em;
    }

}

/* Tablet Responsive */

@media (min-width: 769px) and (max-width: 992px) {
    #hero h1 {
        font-size: 4em; 
    }
}

#hero {
    background: url(http://i.imgur.com/TZhEeN6.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    height: 100%;
    text-align: center;
    color: goldenrod;
    font-family: 'Jacques Francois', serif;

}

#hero h1 {
    font-size: 6em;
    text-shadow: #000 2px 2px;
}

#hero h3 {
    font-size: 3em;
    text-shadow: #000 2px 2px;
}

#hero button {
    background-color: #000000;
    font-size: 1.5em;
    margin-bottom: 50px;
}

.navbar {
    background-color: rgba(255,255,255,.0);
    font-family: 'Jacques Francois', serif;
    font-weight: 600;
    font-size: 1.5em;
    text-shadow: #000 1px 1px;
    box-shadow: inset 1500px 1500px rgba(0,0,0,0.2);
    border: solid 1px transparent
    
}

.navbar-brand {
    font-family: 'Jacques Francois', serif;
    font-weight: 600;
    font-size: 1.8em;
    text-shadow: #000 1px 1px;
}


.center-vertical {
    height: 500px;
    display: table;
}

.center-vertical > div {
    display: table-cell;
    vertical-align: middle;
}

#kraken img {
    height: 300px;
}

#kraken {
    margin-top: -125px
}