html {
    background-image: url(http://orig02.deviantart.net/3032/f/2012/251/4/2/guild_wars_2_art_4_by_artfall-d5e0ayw.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    padding-left: 0%;
    color: goldenrod;
    
}
/*CLEAR FIX MODULE*/
.clear-fix:after{
    content: '';
    display:block;
    clear: both
}
/*CLEAR FIX MODULE*/


/*START header*/

header{
    width: 100%;
    height: 10.7%;
    border-radius: 1%;
    box-shadow: 1600px 1066px rgba(0,0,0,.8) inset;
}

header img{
    float: left;
    
    
}

header nav{
    float: right;
    color: goldenrod;
    font-size: 30;
    margin-top: 15px;
    padding-right: 3%;

   
}

header nav a{
    text-decoration: none;
    color: goldenrod;
    font-family: 'UnifrakturCook', cursive; 

    
}

/*END header*/

/*START landing*/

#landing {
    width: 99%;
    height: 70%;
    color: darkgoldenrod;
    float: left;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-position: center;
    background: contain;
    background-repeat: no-repeat; 
}
#landing p{
    font-size: 60;
    font-family: 'UnifrakturCook', cursive; 
    text-shadow: 2px 2px #000000
}

/*END landing*/

/*START post-landing*/

#post-landing{
    display: inline-block;
    width: 99%;
    height: 40%;
}

#post-landing img{
    float: left;
    height: 99%;
    width: 25%;
}

#post-landing p{
    float: right;
    height: 70%;
    width: 70%;
    text-align: center;
    font-size: 1.3em;
    color: goldenrod;
    padding: 3% 2% 0% 2%;
    border-radius: 2%;
    box-shadow: 1600px 1066px rgba(0,0,0,.8) inset;
}

.child {
    padding-top: 5%;
}

/*END post-landing*/

/*START pillars*/

#four-pillars {
    height: 60%;
    width: 97.5%;
    padding-left: 2.5%;
}

#pillar-head {
    height: 9.5%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    text-align: center;
    box-shadow: 1600px 1066px rgba(0,0,0,.8) inset;
    border-radius: 3%;
    color: goldenrod;
    
}

.pillar {
    width: 24%;
    height: 70%;
    display: inline-block;
    align-content: center;
    text-align: center;
    box-shadow: 1600px 1066px rgba(0,0,0,.8) inset;
    border-radius: 3%;
    font-size: 1.2em;
}

.pillar img{
    height: 40%;
    width: auto
}

.pillar a {
    color: goldenrod;
    text-decoration: none;
    font-size: 1.3em;
}

/*END pillar*/

/*START two-window*/

#two-windows{
    width: 99%;
    height: 34%;
}

#two-windows img{
    height: auto;
    width: 100%;
    
    
}

.window{
    box-shadow: 1600px 1066px rgba(0,0,0,.8) inset;
    border-radius: 2%
}

#left-window{
    float: left;
    margin-left: 18%;
    width: 25%;
    height: 100%;
    text-align: center;
    
}

#right-window{
    float: right;
    margin-right: 18%;
    width: 25%;
    height: 100%;
    text-align: center;
}

.date{
    text-align: right;
}
/*END two-windows*/

/*START final-box*/

#final-box{
    height: 40%;
    width: 99%;
    text-align: center;
    font-size: 2.4em;
    box-shadow: 1600px 1066px rgba(0,0,0,.8) inset;
    margin-top: 1%;
    padding-left: 1%
    
}

#final-box p{
    display: flex; /* establish flex container */
    flex-direction: column;
    justify-content: center; /* align items vertically, in this case */
    align-items: center; /* align items horizontally, in this case */
    height: 200px;
    padding: 0% 3% 0% 3%;
    
}

button {
  background: #373838;
  background-image: -webkit-linear-gradient(top, #373838, #000000);
  background-image: -moz-linear-gradient(top, #373838, #000000);
  background-image: -ms-linear-gradient(top, #373838, #000000);
  background-image: -o-linear-gradient(top, #373838, #000000);
  background-image: linear-gradient(to bottom, #373838, #000000);
  font-family: Arial;
  color: #fcdb05;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #f2f4f5;
  background-image: -webkit-linear-gradient(top, #f2f4f5, #545454);
  background-image: -moz-linear-gradient(top, #f2f4f5, #545454);
  background-image: -ms-linear-gradient(top, #f2f4f5, #545454);
  background-image: -o-linear-gradient(top, #f2f4f5, #545454);
  background-image: linear-gradient(to bottom, #f2f4f5, #545454);
  text-decoration: none;
}

/*END final-box*/